.customH1Styles {
  font-size: 1.8rem;
}
.customH2Styles {
  font-size: 1.6rem;
}

.customH3Styles {
  font-size: 1.5rem;
}
.customH4Styles {
  font-size: 1.4rem;
}
.customH5Styles {
  font-size: 1.2rem;
}
.customH6Styles {
  font-size: 1.1rem;
}

.paragraphStyle {
  text-align: justify;
}
